@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --tw-ring-color: #740000;
  --main-bg-color: #a81a1a;
  --secondary-bg-color: #fff8b9;
  --hover-bg-color: #d8d29e;
}


html, body, #root {
  height: 100%;
  background: url('./assets/background.png') no-repeat center center fixed;
  background-size: cover;
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
}

.bg-default {
  background-color: var(--main-bg-color);
}

.bg-secondary {
  background-color: var(--secondary-bg-color);
}

.bg-secondary:hover {
  background-color: var(--hover-bg-color);
  transition: background-color 0.3s ease;
}

.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #a81a1a; 
  border-radius: 4px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #f87171; 
  border-radius: 4px;
  border: 2px solid #a81a1a;
}

@keyframes slide-in {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out;
}